name: Tests

on:
  push:
    branches: [ "1.0" ]
  pull_request:
    branches: [ "1.0" ]

permissions:
  contents: read

jobs:
  test:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.3', '8.4', '8.5' ]

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run Static Analysis (PHPStan)
      run: vendor/bin/phpstan analyse

    - name: Run Coding Standard (PHPCS)
      run: vendor/bin/phpcs

    - name: Run Test Suite (PHPUnit)
      run: vendor/bin/phpunit
